<mat-tab-group dynamicHeight>
  <mat-tab label="Login">
    <form class="login-form" mat-elevation-z4>
      <mat-form-field>
        <input matInput #UsernameInput
        placeholder="Username"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="login.username">
      </mat-form-field>

      <mat-form-field>
        <input matInput #PasswordInput
        type="password" placeholder="Password"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="login.password">
      </mat-form-field>

      <label>{{login.statusText}}</label>
      <div style="width: 100%">
        <button mat-raised-button color="primary" (click)="onLoginClicked()">Log in</button>
      </div>
    </form>
  </mat-tab>

  <mat-tab label="Register">
    <form class="register-form" mat-elevation-z4>
      <mat-form-field>
        <input matInput
        placeholder="Username"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="register.username">
      </mat-form-field>

      <mat-form-field>
        <input matInput
        type="password" placeholder="Password"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="register.password">
      </mat-form-field>
      <mat-form-field>
        <input matInput
        type="password" placeholder="Confirm password"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="register.confirmPassword">
      </mat-form-field>

      <label>{{register.statusText}}</label>
      <div>
        <button mat-raised-button color="primary" (click)="onRegisterClick()">Register</button>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>
<mat-progress-bar mode="indeterminate"  [style.display]="displayProgressBar ? '' : 'none'"></mat-progress-bar>  