:host {
	position: fixed;
	display: flex;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	padding: 5px;

	.child {
		margin: auto;
		max-width: 100%;
		max-height: 100%;
		display: flex;
		overflow: auto;
	}
}