<mat-accordion>
  <mat-expansion-panel *ngFor="let tab of services | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{tab.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div
    *ngIf="tab.registered; else LoginForm"
    class="widgetCardContainer"
    [style.justify-content]="tab.widgets.length > 1 ? 'space-between' : 'center'">
      <mat-card
      *ngFor="let widget of tab.widgets"
      class="widgetSelector"
      [matTooltip]="widget.description"
      [style.border-top]= "'solid 2px ' + tab.color"
      (click)="select(tab, widget)">
        <mat-card-header>
            <mat-card-title>{{widget.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="widget.iconUrl" alt="">
      </mat-card>
    </div>
    <ng-template #LoginForm>
      <form>
        <p>You need to be logged in before</p>
        <mat-form-field *ngFor="let field of tab.fields">
          <input matInput #PasswordInput
          [type]="field.type" [placeholder]="field.placeholder"
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="field.value">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submitClicked(tab)">Submit</button>
      </form>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
<div>
  <button class="cancelButton" color="warn" (click)="reject()" mat-flat-button>Cancel</button>
</div>