:host, .main, .infos {
  height: 100%;
  width: 100%;
}
:host {
  .image-container {
    height: 100%;
    width: 33%;
    flex-shrink: 0;
  }
  .main {
    display: flex;
  }
  .image-container {
    display: flex;
    .image {
      width: 100%;
      margin: auto;
      padding-top: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      flex-shrink: 0;
      border: solid 2px #e4e4e4;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }
  }
  .infos {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 1.2rem;
      color: rgb(83, 83, 83);
    }
    h6 {
      font-size: .8rem;
      color: rgb(102, 102, 102);
    }
    div {
      margin: auto 0;
      font-size: 1rem;
      color: #4e4e4e
    }
  }
}