:host {
  max-width: 100%;
  width: 100%;
  display: flex;
  .main {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 1rem;
    }
    .list-container {
      overflow-x: hidden;
      width: 100%;
      overflow-y: auto;
      flex-shrink: 1;
      div {
        border-top: dashed 2px #de8751;
        cursor: pointer;
        padding: 4px;
        transition: background-color .5s;
      }
      div:hover {
        background-color: #ececec;
      }
      h3 {
        font-size: 1rem;
      }
      h6 {
        font-size: .8rem;
      }
    }
  }
}